/*-- scss:defaults --*/

$h1bgcolor: #f7fad1;

/*-- scss:rules --*/

.reveal .footer {
    font-size: 0.40em !important;
    text-align: center !important;
}

.underline {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.alert {
    font-weight: bold;
}

.doublefontsize {
    font-size: 200%;
}

.halfincfontsize {
    font-size: 150%;
}

.fontsize90 {
    font-size: 90%;
}

.fontsize80 {
    font-size: 80%;
}

.fontsize70 {
    font-size: 70%;
}

// Slide numbers to the bottom-left
.slide-number, .reveal.has-logo .slide-number {
    bottom: 14px !important;
    left: 50px !important;
    top: unset !important;
}

.reducelinespace70 {
    line-height: 70% !important;
}

.reducelinespace90 {
    line-height: 90% !important;
}

.increaselinespace {
    line-height: 250%;
}

.fontcolorblue{
    color: blue;
}

#title-slide .title {
    //color: #FF0000;
    text-align: center;
  }
  
  #title-slide .subtitle {
    //color: #00FFFF;
    text-align: center;
  }
  
  #title-slide .quarto-title-author-name {
    //color: #00FF00;
    text-align: center;
  }
  
  #title-slide .quarto-title-affiliation {
    //color: #FFA500;
    font-size: 90%;
    text-align: center;
}